{{!-- Preparer Form --}}
<div class="container-fluid">
    <div class="card mt-2">
        <div class="card-header">
            <h4 class="card-title text-center">Add Preparer</h5>
        </div>
        <div class="card-body">
    <form class="container p-3" id="add-preparer">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputFirstName">First Name</label>
                <input type="text"
                       class="form-control"
                       id="inputFirstName">
            </div>
            <div class="form-group col-md-6">
                <label for="inputLastName">Last Name</label>
                <input type="text"
                       class="form-control"
                       id="inputLastName">
            </div>
        </div>
                <div class="form-group">
                    <label for="inputTitle">Job Title</label>
                    <input type="text"
                           class="form-control"
                           id="inputTitle">
                </div>
        <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail">Email</label>
            <input type="email"
                    class="form-control"
                    id="inputEmail">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPhone">Phone Number</label>
            <input type="phone"
                    class="form-control"
                    id="inputPhone">
        </div>
        </div>
<div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputLicense">License</label>
            <input type="text"
                   class="form-control"
                   id="inputLicense">
        </div>
        <div class="form-group col-md-6">
            <label for="inputInsurance">Insurance</label>
            <input type="text"
                   class="form-control"
                   id="inputInsurance">
        </div>
</div>
        <button type="submit"
                class="btn btn-dark">Submit</button>
    </form>
    </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        crossorigin="anonymous"></script>
<script src="/js/preparer.js"></script>