<div class="container-fluid justify-content-center">
    <div class="card mt-2">
        <div class="card-header">
    <h5 class="text-center">Let's get started! What would you like to do?</h5>
        </div>
        <div class="card-body">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <a href="/customer">
                <button type="button"
                        class="btn btn-secondary btn-lg btn-block m-2">
                    Add Customer
                </button>
            </a>
            <a href="/preparer">
                <button type="button"
                        class="btn btn-secondary btn-lg btn-block m-2">
                    Add Preparer
                </button>
            </a>
            <a href="/quote">
                <button type="button"
                        class="btn btn-secondary btn-lg btn-block m-2">
                    Prepare Quote
                </button>
            </a>
        </div>
        <div class="col-md-2"></div>
    </div>
        </div>
    </div>
</div>